{
  "name": "INFA - ImageToWordConverter",
  "label": "[[label]]",
  "description": "[[description]]",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "author": "Prashant G N",
  "commands": []
}